# Xcode
.DS_Store
build/
DerivedData/
*.xcworkspace
xcuserdata/
*.xcuserstate

# Swift Package Manager
/.swiftpm
/.build
Package.resolved

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# Archives
*.xcarchive

# Secrets
GoogleService-Info.plist
.env
